<div class="projectDate">{{mathQWhizDate}}</div>
<div class="mathQwhiz-1-3"><img ng-click="enlargeImg($event)" class="projectImg" src="{{mqImg_1}}"/><img  ng-click="enlargeImg($event)" class="projectImg" src="{{mqImg_2}}"/></div>
<div class="mathQwhiz-2-3">
	<section>
		<h4>{{projectSummaryTitle}}</h4>
		<p>{{mqSummaryContent}}</p>
	</section>
	<section>
		<h4>{{projectTechTitle}}</h4>
		<p>{{mqTechContent}}</p>
	</section>
	<section>
		<h4>{{projectAvailTitle}}</h4>
		<p><a href="{{mqLink}}">{{mqAvailContent}}</a></p>
	</section>
</div>