<!DOCTYPE html>
<html>
<head>
<title>Markus' Website - Home</title>
<link rel = "stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css"/>
<link rel = "stylesheet" href = "../css/webapp-main.css" type="text/css"/>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      
      <link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css"/>
	  <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
	  
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
	  
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	  <script type="text/javascript" src="../js/module/markuswebapp-main.js"></script>
  	  <script type="text/javascript" src="../js/controller/WebNavContainerController.js"></script>
  	  <script type="text/javascript" src="../js/controller/HomeController.js"></script>
  	  <script type="text/javascript" src="../js/controller/ProjectContainerController.js"></script>
  	  <script type="text/javascript" src="../js/controller/HobbiesController.js"></script>
  	  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"/>
</head>
<body ng-app="markusWebApp">
	 <div class="centerWebNavContainer" ng-include="'/MarkusWeb/WebNavContainer'"></div>
</body>
</html>